/* 1.1 General elements & Miscellaneous
---------------------------------------- */
body, html {
    height:100%;
}
html {
    overflow-y: scroll
}

body {
    line-height: 1.6;
    color: #414141;
    font-size:14px;
    margin: 0;
}
body.non-responsive {
    width:100%;
    margin:0 auto;
}
@media (max-width:1279px) {
    body.non-responsive {
        width:1280px;
    }
}		
p {
    margin: 0 0 10px
}

h1, h2, h3, h4, h5, h6, dl dt {
    margin: 0 0 20px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Oswald', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 28px
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px
}

h5, h6 {
    font-size: 13px
}

ul {
    list-style: disc
}

ol {
    list-style:decimal;
}
ul, ol {
    margin-bottom: 30px
}

li {
    line-height:1.6;
}
a, a:focus {
    text-decoration:none;
}
a:focus, input:focus, select:focus, textarea:focus {
    outline: none !important;
}
input, textarea, select {
    font-family:"Open Sans", sans-serif;
    max-width: 100%;
}
textarea {
    resize:none;
}
code {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}	
pre {
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    margin: 0 0 30px;
}
cite {
}
del {
    color:red;
}
ins {
    text-decoration:underline;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
}
iframe {
    max-width:100%;
}

/* blockquote */
blockquote {
    border-left: 2px solid #ccc;
    overflow: hidden;
    padding: 20px 40px;
    margin: 0 0 30px;
    margin-left: 20px
}

blockquote p {
    font-size:24px;
    margin-bottom:5px;
    line-height: 1.6;
    font-weight:normal;
    font-style:italic;
}

blockquote em,
blockquote cite {
    color: #B40606;
    font-size:14px;
    margin-right: 20%;
    margin-top:10px;
}
blockquote em a,
blockquote em a:hover,
blockquote cite a,
blockquote cite a:hover {
    color:#b40606;
}
blockquote em:before,
blockquote cite:before {
    content: "\2014";
    margin-right: 6px
}

/* table */
table, td, th {    
    border: 1px solid #eee;
    text-align: left;
}
table {
    border-collapse: collapse;
    width:100%;
    margin: 0 0 30px;
}
table td,
table th {
    padding:8px;
    vertical-align:middle;
}

/* definition list */
dl {
    margin:0 0 30px;
}
dl dt {
    margin-bottom:10px;
    font-weight:600;
}
dl dd {
    margin-bottom:20px;
    margin-left:30px;
}

/************* DEMO CSS *****************/

/** header **/
header{
    background-color: #1c1c1c;
    margin-bottom: 25px;
}
#logo{
    display: inline-block;
    width: 40%;
    margin: 5px 0;
}
.menu{
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 59%;
    text-align: right;
}
.menu li{
    list-style: none;
    display: inline-block;
    background: #ccc;
    padding: 5px 10px;
}
.menu li.active{
    background: #fff;
}
.menu li a{
    color: #000;
    text-decoration: none;
}
.menu li a:hover{
    text-decoration: underline;
}


/** content **/
.clearfix{
    clear: both;
}

.container{
    width: 900px;
    margin: 0 auto;
}


/** news **/
ul#list-news{
    list-style: none;        
    margin: 0;
    padding: 0;
}
ul#list-news li{
    margin-bottom: 20px;
}
ul#list-news li h3{
    margin: 0;
    font-size: 20px;
}
ul#list-news li img{
    float: left;
    margin-right: 15px;
}

ul#list-news li a{
    text-decoration: none;
}
ul#list-news li a:hover{
    text-decoration: underline;
}
.date-created{
    float: right;
}






/** product **/
ul#list-product{
    list-style: none;        
    margin: 0;
    padding: 0;
}
ul#list-product li{
    margin-bottom: 20px;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    overflow: hidden;
    word-spacing: normal;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    zoom: 1;
}
ul#list-product li .p-item{
    border: 1px solid #eee;
    margin: 0 0 12px 12px;
    padding: 15px;
    background: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    background-size: 100% 200px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
ul#list-product li .p-img{
    text-align: center;
}
ul#list-product li img{
    max-height: 150px;
    margin-bottom: 10px;
}
ul#list-product li .p-name{
    margin: 0;
    font-size: 20px;
    text-transform: none;
    height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}
ul#list-product li .p-price{
    font-weight: bold;
    font-size: 21px;    
    margin-bottom: 10px;
}
ul#list-product li .p-category{
    height: 45px;
    overflow: hidden;
}
ul#list-product li a{
    text-decoration: none;
}
ul#list-product li a:hover{
    text-decoration: underline;
}

.product-nav{
    margin-bottom: 40px;
    height: 30px;
    line-height: 30px;
}
.path{
    width: 760px;
    padding: 0;
    margin: 0;   
    display: inline-block;
}
.path li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}

#nav-cart{
    line-height: 24px;
    height: 24px;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 5px 10px;
    background: #fff;
    float: right;
    width: 115px;
}
#nav-cart:hover{
    background: #eee;
}


#nav-cart span{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: #000;
    font-family: sans-serif;
    margin-right: 4px;
}
#nav-cart span img{
    margin-bottom: 10px;
}
#nav-cart span#nav-cart-num{
    color: #4a4a4a;
    background: #fdd835;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding: 0 6px;
    font-weight: bold;
    margin-right: 0px;
}
.p-info{
    margin-bottom: 50px;
}
.p-left-image{
    display: inline-block;
    width: 55%;
    float: left;
}
.p-right-info{
    display: inline-block;
    width: 45%;
}
.list-thumb{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.list-thumb li{
    list-style: none;
    border: 1px solid #eee;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.list-thumb li:hover{
    border: 1px solid #004B91;
}
.list-thumb li.selected{
    border: 1px solid #FF8F00;
}
.list-thumb li img{
    max-width: 50px;
}
.large{
    display: inline-block;
}
.large img{
    max-width: 360px;
}
.p-name{
    text-transform: none;
    font-size: 24px;
}
.p-price{
    font-weight: bold;
    font-size: 21px;
}

.p-attribute{
    margin-bottom: 50px;
}
.p-attribute h3{
    margin-bottom: 10px;
}

.p-attribute table>tbody>tr>td:first-child{
    background: #efefef;
    border: 1px solid #d5d5d5;
    width: 250px;
}

.p-description h3{
    margin-bottom: 10px;
}
.p-description .detail{
    border: 1px solid #ddd;
    padding: 20px;
}

.quantity-box{
    z-index: 99999;
}
.quantity-col1{
    clear: both;
    margin: 10px 0px;
    display: inline-block;
}
.quantity-label{
    line-height: 6px;
    font-size: 11px;
    margin-bottom: 6px;
    color: #7b7b7b;
}
.tiki-number-input{
    margin: 0;
}
.input-group {
    border-collapse: separate;
}
.input-group-btn{
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
}
.bootstrap-touchspin .input-group-btn>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    line-height: 15px;
    font-size: 14px;
    font-weight: 300;
    height: 28px;       
    width: 28px;
    position: relative;
}

.bootstrap-touchspin .input-group-btn>.btn:hover {
    background: #e2e2e2!important;
}

.bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up {
    border-radius: 0 4px 4px 0;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 0 10px;
    margin-left: -7px;
    padding-right: 18px;
}
.bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down {
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 0 10px;
}

.qty{
    display: inline-block;
    width: 28px;
    height: 26px;
    margin: 0px 0px 0px -3px;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

button.add-to-cart{
    width: 225px;
    height: 40px;
    border: none;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: top;
    font-size: 13px;
    padding: 0 0 0 40px;
    line-height: 40px;
    border-radius: 5px;
    background: url(../images/ic-cart@2x.png) 23px center no-repeat #ff8209;
    font-weight: 400;
    letter-spacing: .5px;
    background-size: 26px;
    display: inline-block;
    text-align: center;
}
button.add-to-cart:hover{
    background-color: #ffa73d !important;
}

#table-cart{
    background: #f3f3f3;
}
#table-cart tr td,
#table-cart tr th{
    padding: 12px;
    border-color: #fff;
}
#table-cart tr td img{
    float: left;
    margin-right: 20px;
    max-width: 150px;
    max-height: 150px;
}

#table-cart .price{
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 10px;
}
#table-cart .center{
    text-align: center;
}
#table-cart .delete a{
    color: red;
}
#table-cart .total-price{
    text-align: right;
    background-color: #076735;
    color: #fff;
}
.btn-shipping{
    text-align: right;
}
.btn-shipping a{
    background: #076735;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
}
.btn-shipping a:hover{
    color: #076735;
    background: #fff;
    border: 1px solid #076735;
}

/** shipping **/
table#checkout{
    width: 600px;
    margin: 0 auto;
    background: #eee;
    margin-bottom: 20px;
}
table#checkout  tr td,
table#checkout tr th{
    padding: 10px 20px;
    border-bottom: 1px solid #dedede;
}
table#checkout tr th{
    width: 120px;
    font-weight: normal;
}
table#checkout input,
table#checkout textarea{
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
}
.ss-msg{
    text-align: center; 
    font-size: 20px; 
    margin: 100px 0px 500px 0px; 
    color: #076735;
}
.info-msg{
    text-align: center; 
    font-size: 18px; 
    margin-top: 50px;
    margin-bottom: 20px;
    color: #076735;
}
.btn-submit{
    text-align: center;
}
.btn-submit input{
    background: #076735;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
}
.btn-submit input:hover{
    background: #fff;
    border: 1px solid #076735;
    color: #000;
}
table#checkout .error{
    font-size: 14px;
    color: red;
    margin-top: 2px;
}

/** process bar **/
.progress{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 80px;
}

.progress .third{
    width: 33.33%;
    position: relative;
    display: inline-block;
    height: 30px;
    float: left;
}
.progress .third span{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #076735;
    border-radius: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 46%;
    z-index: 9999;
}
.progress .disable span{
    background-color: #ebebeb;
}
.progress .third .process-name{
    text-align: center;
    margin-top: -30px;
}
.progress .disable .process-name{
    color: #a3a3a3;
}
.progress .third .process-bar-left,
.progress .third .process-bar-right{
    display: inline-block;
    width: 50%;
    height: 6px;
    background-color: #076735;
    position: absolute;
    top: 12px;
}
.progress .third .process-bar-left{
    left: 0px;
}
.progress .third .process-bar-right{
    right: 0px;
}

.progress .third  .grey{
    background-color: #ebebeb;
}



/** footer **/
footer{
    background-color: #1c1c1c;
    padding: 8px 0;
    margin-top: 20px;
}
footer p{
    margin-bottom: 0;
    font-size: 14px;
}

/***** paging ********/
ul.paging {
    float: right;
    margin: 0 !important;
}
ul.paging li {
    display: inline;
    list-style: outside none none !important;
    margin: 0 0 0 5px;
}
ul.paging li a {
    color: #333;
    padding: 2px 6px;
    text-decoration: none;
}
ul.paging li.active a, 
ul.paging li.current a, 
ul.paging li:hover a {
    background-color: #222428;
    color: #fff !important;
}
ul.paging .last a {
    padding-right: 0 !important;
}